{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dunzo</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'timeline_app/css/timeline-app-styles.css' %}">

</head>
<body>
    <div class="outer-container">
        <!-- sidebar -->
        <div class="sidebar">
            <div class="logo">
                <button class="toggleSidebar">
                    <i class="fa-solid fa-bars-progress"></i>
                </button>
                <p>Dunzo</p>
            </div>

            <!-- navigation links -->
            <ul class="navigation">
                <li class="nav-item">
                    <i class="fa-solid fa-chart-line"></i>
                    <a href="{% url 'user_app:dashboard' %}">Dashboard</a>
                    
                </li>

                <li class="nav-item">
                    <i class="fa-solid fa-folder"></i>
                    <a href="{% url 'project_app:project' %}">Project</a>
                    
                </li>

                <li class="nav-item">
                    <i class="fa-solid fa-list-check"></i>
                    <a href="{% url 'task_app:task' %}">Task</a>
                </li>

                <li class="nav-item">
                    <i class="fa-solid fa-bars-staggered"></i>
                    <a href="{% url 'timeline_app:timeline' %}">Timeline</a>
                </li>

                <li class="nav-item">
                    <i class="fa-solid fa-calendar"></i>
                    <a href="{% url 'calendarevent_app:calendar' %}">Calendar</a>
                </li>

                <li class="nav-item">
                    <i class="fa-solid fa-gear"></i>
                    <a href="{% url 'user_app:settings' %}">Settings</a>
                </li>
            </ul>

             <!-- User SECTION-->
            <div class="user-profile">
                <div class="user-avatar">
                    JV
                </div>

                <div class="user-info">
                    <p class="user-name">Josephs Victors</p>
                    <p class="user-role">Student</p>
                </div>
            </div>

        </div>
        
        <!-- main section --> 
        <div class="main-section" id="main-content">
            <div class="top-bar">
        <div class="top-left">
            <h1 class="page-title">Project Timeline</h1>
        </div>

        <div class="timeline-controls">
            <button class="zoom-btn">
                <i class="fas fa-search-minus"></i>
            </button>
            <span class="date-range">Nov 18 - Dec 15, 2025</span>
            <button class="zoom-btn">
                <i class="fas fa-search-plus"></i>
            </button>
        </div>
            </div>

            <div class="timeline-outcontainer">
                <!-- Project 1 -->
                <div class="project-timeline-container">
                    <!-- PROJECT ICON -->
                    <div class="project-name-card">
                        <div class="top-left-icons">
                            <div class="project-icon red">
                                <i class="fa-solid fa-database"></i>
                            </div>
                            <h3 class="project-title">Maghimo sa DJANGO.</h3>
                        </div>

                        <div class="top-right-toggle">
                            <p>History</p>
                            <i class="fa-solid fa-angle-down"></i>
                        </div>
                    </div>

                    <div >
                        <ul class="project-history">
                            <li>
                                <div class="history-item">
                                    <div class="avatar">JL</div>
                                    <div>
                                        <p><strong>Jhon Ryan</strong>  created task "Implement Kanban Column"</p>
                                        <p>Today · 8:00 AM</p>
                                    </div>
                                </div>     
                            </li>
                            <li>
                                <div class="history-item">
                                    <div class="avatar">JT</div>
                                    <div>
                                        <p><strong>John Winston</strong>  completed task "Connect to Supabase"</p>
                                        <p>Today · 4:20 AM</p>
                                    </div>
                                </div> 
                            </li>
                            <li>
                                <div class="history-item">
                                    <div class="avatar">JN</div>
                                    <div>
                                        <p><strong>Joseph Novabos</strong>  added comment to "Model Optimization": "Refactor views into class-based views"</p>
                                        <p>Today · 4:00 AM</p>
                                    </div>
                                </div> 
                            </li>
                            <li>
                                <div class="history-item">
                                    <div class="avatar">CL</div>
                                    <div>
                                        <p><strong>Christian Niel</strong>  updated status of task "User Authentication" to In Progress</p>
                                        <p>Yesterday · 5:00 PM</p>
                                    </div>
                                </div> 
                            </li>
                            <li>
                                <div class="history-item">
                                    <div class="avatar">FV</div>
                                    <div>
                                        <p><strong>Fateful</strong>  added comment to "Database Structure": "I fixed the ERD because there were too many many-to-many relationships."</p>
                                        <p>Yesterday · 5:00 PM</p>
                                    </div>
                                </div> 
                            </li>
                        </ul>
                    </div>
                </div>


                <div class="project-timeline-container">
                    <!-- PROJECT ICON -->
                    <div class="project-name-card">
                        <div class="top-left-icons">
                            <div class="project-icon blue">
                                <i class="fas fa-globe"></i>
                            </div>
                            <h3 class="project-title">Website Redesign</h3>
                        </div>

                        <div class="top-right-toggle">
                            <p>History</p>
                            <i class="fa-solid fa-angle-down"></i>
                        </div>
                    </div>
                </div>

                <!-- indiv projects -->
                <div class="project-timeline-container">
                    <!-- PROJECT ICON -->
                    <div class="project-name-card">
                        <div class="top-left-icons">
                            <div class="project-icon yellow">
                                <i class="fa-solid fa-bus-simple"></i>
                            </div>
                            <h3 class="project-title">Technopreneurship: AsaNaBus</h3>
                        </div>

                        <div class="top-right-toggle">
                            <p>History</p>
                            <i class="fa-solid fa-angle-down"></i>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>

<script>
    
</script>

</html>
