@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
    --box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    --transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    --dark: #1f2124;
}

@theme {
    --color-lightgray: #e7e7e7;
}

@layer base {
    body {
        margin: 0;
        padding: 0;
        font-family: 'Inter', sans-serif;
    }

    h1 {
        @apply text-gray-900 text-3xl font-bold mb-4
    }
}


@layer utilities {
    .shadow-custom {
        box-shadow: var(--box-shadow);
    }
    .transition-custom {
        transition: var(--transition);
    }

    .nav-item {
        @apply flex flex-row gap-[10px] items-center py-[12px] pl-[35px] text-[1rem] cursor-pointer text-gray-700 w-100;
        transition: var(--transition);
    }

    .nav-item:hover {
        @apply shadow-md bg-lightgray text-gray-900;
    }

    .nav-item.active {
        @apply border-l-4 border-red-500 shadow-md bg-red-100 text-red-600;
        transition: var(--transition)
    }

}

